#login-form {
  color: #624630;
  margin: 0px auto;
  overflow: auto;
  padding: 40px;
  width: 300px;
}

#login-form label {
  display: block;
}

#login-form input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

#login-form button {
  cursor: pointer;
  float: right;
  padding: 8px 20px;
  text-align: right;
}

#login-error {
  clear: both;
  color: #990000;
  padding-top: 10px;
}
#signup-form {
  color: #624630;
  margin: 0px auto;
  overflow: auto;
  padding: 40px;
  width: 300px;
}

#signup-form label {
  display: block;
}

#signup-form input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

#signup-form button {
  cursor: pointer;
  float: right;
  padding: 8px 20px;
  text-align: right;
}

#signup-error {
  clear: both;
  color: #990000;
  padding-top: 10px;
}